.step__description {
    color: #5e5e5e;
}

.italicized {
    font-style: italic;
}
.MuiGrid-root.step__field-container {
    margin: 25px;
    border: 1px solid black;
    padding: 15px;
    background-color: white;
}

.MuiTypography-root.step__question {
    margin-top: 10px;
}
.MuiTextField-root.step__question {
    margin-left: 50px;
}