.MuiButton-root.navbar__button {
    width: 100%;
    height: 100%;
}

.MuiTypography-root.navbar__app-name{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25x;
    margin-top: 25px;
}

.MuiTabs-root.navbar__tabs {
    color: white;
}