.background{
    background-color: lightblue;
    position: relative;
    height: 15%;
 
}
.titleBackground{
    height: 75px;

}
.MuiButton-contained {
    background-color: red;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.link{
    text-decoration: none;
}

.appName{
    text-align: center;
    font-size: 225%;
    font-style: italic;
}
.nav_text{
    font-style: oblique;
    font-family: 'Lucida Sans';
    font-size: 150%;
}