.message-entry {
    margin-top: 50px;
    display: 'flex';
    /* flex-direction: column; */
    align-items: center;
    max-width: '100';
    overflow: 'auto';
}

.posted-chats {
    display: 'flex';
    margin-top: 50px;
    margin-bottom: 0px;
}

.message-time {    
    text-align: 'flex-end';
    margin-right: 0;
}

.group-chat-box {       
    display: 'flex';
    align-items: center;
    padding-top: 5%;
    padding-bottom: 20%;
    max-width: '50';
    background-color: #F0F8FF;
}