/* Styles for the RequestList React component */

.MuiTable-root.student-list {
    margin: auto;
    width: 350px;
  }
  
  .MuiButton-root.student-list__button {
    margin-top: 50px;
  }
  