.message-entry {
    margin-top: 50px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    max-width: 100px;
    overflow: auto;
}

.posted-chats {
    display: flex;
}

.message-time {
    text-align: end;
    margin-right: 0;
}

.group-chat-box {
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 50%;
    max-width: 50px;
    background-color: #F0F8FF;
}

.messages-grid {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
